@font-face {
  font-family: "Rubik";
  src: url("./Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("./Rubik-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url("./Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
